<<<<<<< HEAD
<h3>Welcome</h3>
<p>Find or Create a Wiki</p>
=======
<h1>Welcome</h1>
<p>Find or Create a Wiki!</p>
<<<<<<< HEAD
>>>>>>> user-story-3-wiki-crud
=======

  <div class="row">
    <div class="col-md-4">
      <p>Create a Wiki</p>
      <%# <%link_to "Create a Wiki", <name of path here>h, class: 'btn btn-success' %> %>
    </div>
  </div>
>>>>>>> user-story-3-wiki-crud
